/* ===== Base ===== */
html {
    --black: #221F20;
    --white: #ffffff;
    --gray: #525252;
    --background: #f0ebdf;
    --primary: #436e43;
    --secondary: #f0c103;
    --alert: #e85151;

    font-family: monospace;
    font-size: 16px;
}

body {
    overflow-x: hidden;
    background-color: var(--background);
    max-width: 1800px;
    padding: 1rem;
    margin: auto;
}

h1 {
    text-align: center;
}

i {
    display: block;
    text-align: center;
    color: var(--gray);
    margin-bottom: 3rem;
}

/* ===== Button ===== */
#button-container {
    display: flex;
    flex-direction: column;
    margin: 3rem;
}

button {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin: auto;
    background-color: var(--primary);
}

/* ===== led ===== */
#led {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-inline: auto;
    margin-block: 1rem;
    background-color: #e3e3e3;

    &.active {
        background-color: var(--alert);
    }
}

/* ===== Log ===== */
#log {
    position: relative;
    padding: 0;
    height: 80px;

    li {
        position: absolute;
        display: inline-block;
        animation: signal 4000ms linear forwards;
    }
}

/* ===== sos ===== */
#sos-container {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

#sos {
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;

    li {
        display: inline-block;
    }
}

/* ===== Signal ===== */
#log,
#sos {
    & .short {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: var(--secondary);
    }

    & .long {
        width: 100px;
        height: 30px;
        background-color: var(--primary);
        border-radius: 25px;
    }
}

/* ===== Animations ===== */
@keyframes signal {
    0% {
        transform: translateX(0);
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateX(2000px);
        opacity: 0;
    }
}